* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
body {
	background-color: #eaeaea;
}

h1 {
	text-align: center;
	margin-top: 30px;
}
#show {
	box-sizing: border-box;
	float: left;
	line-height: 30px;
	width: 200px;
	margin: 70px 0px 50px 120px;
}
h3 {
	font-size: 150%;
}
#codesRgb {
	font-size: 150%
}

#colorDiv{
	width: 250px;
	height: 250px;
	margin: 50px auto;
	border: 1px solid black;
	border-radius: 50%;
}
h2{
	display: inline-block;
	width: 100px;
	margin: 20px 50px 20px 270px;
}
input {
	width: 510px;
}